{% extends "layout.html" %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
{% endblock  %}

{% block page_title %}İletişim{% endblock page_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
        <!--Menu-->
            {% include "courses/partials/_categories.html" %} 
        <!--Menu ending-->
        <!--Content-->                            
        <div class="col-7"> 
            <h1>İletişim</h1>
            <i class="fa-solid fa-envelope"></i>
        </div> 
        <!--Content ending-->      
        </div>
    </div>  
{% endblock content %}

{% block js_files %}{% endblock %}