<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head-->
    {% include "partials/_head.html" %}
    
    {% block css_files %}{% endblock  %}    
    
    <title>Course App | {% block page_title %}{% endblock %}</title>
</head>
<body>
        <!--navbar-->
        {% include "partials/_nav.html" %}
        <!--navbar ending-->
        <!-- Content -->        
        {% block content%}
        {% endblock content%}
        <!-- Content ending -->
        
    
    {% include "partials/_default_js_files.html" %}       
    {% block js_files %}{% endblock %}
</body>
</html>